PIPER_VOICE_MODEL_PATH=/path/to/piper_model
PIPER_EXECUTABLE_PATH=/path/to/piper
STABLE_DIFFUSION_EXECUTABLE_PATH=/path/to/stable-diffusion
STABLE_DIFFUSION_MODEL_PATH=/path/to/model.safetensors
FFMPEG_FONT_PATH=/path/to/font.ttf
CLEANUP_TEMP=false
