# File e cartelle di dipendenze di Node.js
node_modules/

# File di log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cartelle generate dallo script
/temp/

# File di ambiente (se deciderai di usarli per le chiavi API o i percorsi)

# File di sistema operativo
.DS_Store
